body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #141414e5, #042033b2), url('ENKAI.jpg') center center fixed; /* Degradado azul oscuro a gris oscuro y luego imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
}

header {
    background: linear-gradient(to right, #4CAF50, #3498db); /* Degradado de colores */
    text-align: center;
    padding: 10px;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    position: relative;
    color: white; /* Color del texto */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra con opacidad */
    z-index: 1; /* Asegura que el encabezado esté sobre el fondo */
}

header::after {
    content: '';
    background: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Colocar el fondo detrás del texto */
}

#formulario {
    width: 60%;
    margin: 20px auto;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
}

table, th, td {
    border: 1px solid #dbdada;
    text-align: left;
}

th, td {
    padding: 15px;
    color: white;
}

#comentario {
    width: 100%;
    height: 100px;
    color: white;
}

#codigo-qr img {
    display: block;
    margin: 10px auto;
}
table, th, td {
    border: 1px solid #dbdada;
    text-align: left;
    color: white; /* Cambiar el color del texto a blanco */
}
